html, body {
	font-family: 'Open Sans', Helvetica, sans-serif;
	color: white;
	background: url('../images/bg1.jpg') no-repeat center fixed;
	background-size: cover;
	margin: 0;

	
}

* {
	box-sizing: border-box;
}

header {
	overflow: visible;
	background-color: #181c1f;
	position: fixed;
	top: 0;
	width: 100%;
	height: 56px;
	padding: 0px 8px;
	z-index: 1;
	box-shadow: 0px 1px 8px #0008;/*Para que acabe pronto sin ser muy oscura*/
}

.header-left {
	float: left;

}

.header-right {
	float: right;
}

header a {
	/* MATERIAL DESIGN. 24 object, 16 padding, 56 total*/
	float: inherit;
	display: inline-block;
	font-size: small;
	line-height: 24px;
	padding: 16px 8px;

	color: #ccc;
	text-align: center;
	text-decoration: none;
}

header a:hover {
	color: #fff;
}

header a.active {
	color: #fff;
}

a {
	text-decoration: underline;
	color: #eef;
}

a:hover {
	color: #bbc;
}

#logo {
	padding: 8px;
}

#logo img {
	height: 40px;
}

#main {
	padding: 16px;
	margin-top: 54px;
	/*height: 1000px;*/

}

footer {
	overflow: hidden; /*So that the background keeps visible*/
	background-color: #181c1f;
	width: 100%;
	padding: 0px 16px;
	text-align: center;

}

.footer-left {
	float: left;
	display: inline-block;
	padding: 8px;
}

.footer-middle {
	display: inline-block;
	padding: 16px;
}

.footer-middle img {
	display: inline-block;
	height: 100px;
	border-radius: 50px;/*Half of the height to make it round*/
}

.footer-right {
	float: right;
	display: inline-block;
	padding: 8px;
}

.footer-right a {
	color: white;
	text-decoration: none;
}

ion-icon {
	font-size: 24px;
	margin: 8px;
}

.twitter {
	padding: 16px 8px;
	width: 40vw;
	max-width: 512px;
}




@media screen and (max-width: 600px) { /*500px*/
	header {
		height: auto;
		top: auto;
		bottom: 0px;
	}
	
	.header-left {
		float: none;
	}

	.header-right {
		float: none;
	}

	header a {
		display: block;
		text-align: left;

	}
}
