html, body {
	font-family: 'Open Sans', Helvetica, sans-serif;
	color: white;
	background: url('../images/mars.jpg') no-repeat center fixed;
	background-size: cover;
	margin: 0;

	
}

* {
	box-sizing: border-box;
}

header {
	overflow: visible;
	background-color: #181c1f;
	position: fixed;
	top: 0;
	width: 100%;
	height: 56px;
	padding: 0px 8px;
}

.header-left {
	float: left;

}

.header-right {
	float: right;
}

header a {
	/* MATERIAL DESIGN. 24 object, 16 padding, 56 total*/
	float: inherit;
	display: inline-block;
	font-size: small;
	line-height: 24px;
	padding: 16px 8px;

	color: #ccc;
	text-align: center;
	text-decoration: none;
}

header a:hover {
	color: #fff;
}

header a.active {
	color: #fff;
}

#logo {
	padding: 8px;
}

#logo img {
	height: 40px;
}


@media screen and (max-width: 600px) { /*500px*/
	header {
		height: auto;
	}
	
	.header-left {
		float: none;
	}

	.header-right {
		float: none;
	}

	header a {
		display: block;
		text-align: left;

	}
}





#main {
	padding: 16px;
	margin-top: 54px;
	/*height: 1000px;*/

}
