:root {
	--main-color: #181c1f;/*#181c1f*/
	--text-header-color: #ddd;/*#ddd*/
	--active-header-color: #fff;/*#fff*/

	--link-color: #eef;/*#eef*/
	--link-hover-color: #bbc;/*#bbc*/

	--text-color: black;

	/*Light version*/
	/*--main-color: #fff;
	--text-header-color: #333;
	--active-header-color: #000;

	--link-color: #002;
	--link-hover-color: #559;

	--text-color: #000;*/
}

/*Custom scrollbar*/
::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #eee;
}

::-webkit-scrollbar-thumb {
	background: #bbb;
	border-radius: 50px;
	border-left: solid 1px #eee;
	border-right: solid 1px #eee;
}

::-webkit-scrollbar-thumb:hover {
	background: #888;

}

* {
	box-sizing: border-box;
}

html, body {
	background: url('../images/bg2.jpg') no-repeat center fixed;
	background-size: cover;
	margin: 0;
}
body {
	/*min-height 100vh (not 100%. Would be of the html)
	 to keep the footer down when there isn't content. But 
	 a padding at the bottom, below the footer, so that it 
	 doesn't overlap the content. It would do that because
	 it's position is absolute, so that the bottom property
	 works. The bottom property works relative to the nearest
	 parent element that hasn't static positioning, so the 
	 body has relative position.*/
	min-height: 100vh;
	padding-bottom: 140px;/*Space for the footer*/
	position: relative;

	font-family: 'Open Sans', Roboto, Helvetica, sans-serif;
	color: var(--text-color);
}

header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 56px;
	z-index: 1;

	font-size: 15px;
	line-height: 24px;

	display: flex;
	overflow: visible;
	background-color: var(--main-color);
	box-shadow: 0px 1px 8px 0px #0009;
}
header nav, header ul, header li, header a {
	display: flex;
}
header nav {
	width: 100%;
	justify-content: space-between;
	padding: 0px 8px;
}

header ul {
	display: flex;
	align-items: center;
	list-style: none;
	padding: 16px 0;
	margin: 0;
	height: 56px;
}

header a {
	align-items: center;
	margin: 0 8px;

	color: var(--text-header-color);
	text-decoration: none;
}

header a:hover {
	color: var(--active-header-color);
	font-weight: bold;
}

header a.active {
	color: var(--active-header-color);
	font-weight: bold;
	border-bottom: solid 2px;
}

header img {
	height: 40px;
}

a {
	color: var(--link-color);
}

a:hover {
	color: var(--link-hover-color);
}

#main {
	padding: 72px 16px 16px 16px;
	background: #ddd4;
}

.simple-list {
	list-style: none;
	padding: 16px;
}

footer {
	position: absolute;
	bottom: 0;
	height: 140px;
	background-color: var(--main-color);
	width: 100%;
	padding: 0px 16px;
	text-align: center;
	color: white;

	display: flex;
	justify-content: space-between;
}

.footer-left {
	float: left;
	display: inline-block;
}

.footer-middle {
	display: inline-block;
	padding: 16px;
}

.footer-middle img {
	display: inline-block;
	height: 100px;
	border-radius: 50px;/*Half of the height to make it round*/
	box-shadow: 4px 8px 20px 0px #0008;
}

.footer-right {
	float: right;
	display: inline-block;
	padding: 8px;
}

.footer-right a {
	color: white;
	text-decoration: none;
}

footer ul {
	list-style: none;/*Sin bolitas*/
	font-size: small;
	padding: 16px;
}

footer ul a {
	text-decoration: none;
}

ion-icon {
	font-size: 24px;
	margin: 8px;
}

.twitter {
	padding: 16px 8px;
	width: 40vw;
	max-width: 512px;
	display: inline-flex;
}
.twitter iframe {
	box-shadow: 4px 8px 32px -8px #0008;
}


@media screen and (max-width: 600px) { /*500px*/
	header {
		/*To the bottom of the screen vertically*/
		position: fixed;
		top: auto;
		bottom: 0%;
		height: auto;

		padding: 8px;

		box-shadow: 0px -1px 8px #0008;/*Para que acabe pronto sin ser muy oscura*/
	}
	
	.header-left {
		float: left;
		width: 50%;
		display: flex;
		flex-direction: column;
	}

	.header-right {
		float: right;
		width: 50%;
		display: flex;
		flex-direction: column-reverse;
	}

	header a {
		display: flex;
		justify-content: center;

		font-size: x-small;
		line-height: 16px;
		padding: 2px 8px;
	}

	#main {
		padding: 16px;
	}

	footer {
		margin: 0 0 200px 0;
	}

	#logo_header {
		display: none;
	}

}
